.primary-button,
.primary-button-corner,
.default-button {
    border-radius: 16px;
    font-size: 24px;
    font-family: var(--font-family-B);
    cursor: pointer;
    outline: none;
}

.primary-button,
.primary-button-corner {
    border: 0;
    color: var(--color-white);
    background-color: var(--color-purple_dark);
    transition: var(--animation);
}

.primary-button:hover,
.primary-button-corner:hover,
.primary-button:focus,
.primary-button-corner:focus { 
    background-color: var(--color-purple_light);
} 

.primary-button-corner {
    border-radius: 999px;
}

.default-button {
    color: var(--color-purple_dark);
    background-color: transparent;
    border: 1px solid var(--color-gray_light);
    transition: color var(--animation), border var(--animation);
}

.default-button:hover,
.default-button:focus {
    color: var(--color-purple_light);
    border-color: var(--color-gray_soft);
}